.w-custom-limit-400 {
    max-width: 400px;
    margin: 0 auto;
}

.w-custom-limit-200 {
    max-width: 200px;
}

.w-custom-limit-800 {
    max-width: 800px;
}

.color-custom-body {
    /* background: #92868C; */
    background: #c4c4c4;
}

.custom-icon {
    color: inherit;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.custom-icon:hover {
    color: inherit;
    opacity: 0.7;
}
